@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-rose: #e8bcd3;
  --color-bourdeaux: #1e0301;
  --color-porcelain: #f7f7f7;
  --color-retro-ochre: #b39567;
  --color-gold: #9d7d4c;
  --color-peach: #fce7e4;
  --color-hot-coral: #f04e37;
  --color-text-default-black: #1e0301;
  --color-cyan: #00afad;
  --color-light-peach: #f1d7ca;
  --color-gold-ember: #ffab0b;
  --color-aged-oak: #715a24;
  --color-gray-200: #d9d9d9;
  --font-serif: "PP Editorial New", serif;
  --font-sans: "Helvetica", sans-serif;

  --breakpoint-desktop: 1400px;
  --breakpoint-tablet: 900px;
  --container-desktop: var(--breakpoint-desktop);
  --container-tablet: var(--breakpoint-tablet);
  --text-3xl: 2rem;

  --breakpoint-1600: 100.063rem;
  --breakpoint-1536: 96.063rem;
  --breakpoint-1440: 90.063rem;
  --breakpoint-1366: 85.438rem;
  --breakpoint-1280: 80.063rem;
  --breakpoint-1200: 75.063rem;
  --breakpoint-1160: 72.563rem;
  --breakpoint-1080: 67.563rem;
  --breakpoint-1024: 64.063rem;
  --breakpoint-950: 59.438rem;
  --breakpoint-912: 57.063rem;
  --breakpoint-896: 56.063rem;
  --breakpoint-844: 52.813rem;
  --breakpoint-768: 48.063rem;
  --breakpoint-680: 42.563rem;
  --breakpoint-640: 40.063rem;
  --breakpoint-580: 36.313rem;
  --breakpoint-540: 33.813rem;
  --breakpoint-500: 31.313rem;
  --breakpoint-460: 28.813rem;
  --breakpoint-420: 26.313rem;
  --breakpoint-380: 23.813rem;
  --breakpoint-360: 22.563rem;
}

:root {
  --retro-ochre: #b39567;
  --porcelain: #f7f7f7;
  --rose: #e8bcd3;
  --bourdeaux: #1e0301;
}

body {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--bourdeaux);
  background-color: var(--porcelain);
  @apply subpixel-antialiased;
}

strong {
  @apply font-bold;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.editorial {
  font-family: "PP Editorial New", serif;
}

.editorial-italic {
  font-family: "PP Editorial New", serif;
  font-style: italic;
}

.helvetica-bold {
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--retro-ochre);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--bourdeaux);
  border-radius: 4px;
}

.swiper-pagination-bullet-active {
  background-color: var(--retro-ochre) !important;
}

.swiper-pagination-horizontal {
  display: flex !important;
}

.custom-horizontal-scrollbar::-webkit-scrollbar {
  height: 1px;
}

.custom-horizontal-scrollbar::-webkit-scrollbar-track {
  background: var(--retro-ochre);
}

.custom-horizontal-scrollbar::-webkit-scrollbar-thumb {
  background: var(--bourdeaux);
}

.custom-horizontal-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--bourdeaux) var(--retro-ochre);
}

.responsive-title {
  font-size: clamp(1.75rem, 5vw + 1rem, 4rem);
}

.responsive-subtitle {
  font-size: clamp(18px, 2vw + 8px, 32px);
}

@utility ts-* {
  --min: --value(integer, number);
  --max: --modifier(integer, number);
  --min-ts: 1.25;
  --max-ts: 1.333;
  --min-vp: 480; /* 30rem */
  --max-vp: 2560; /* 160rem */

  /* Calculate the fluid typescale */
  --scale-diff: calc(var(--max-ts) - var(--min-ts));
  --vp-diff: calc(var(--max-vp) - var(--min-vp));

  /* Calculate the viewport unit multiplier */
  --vi-multiplier: calc((var(--max) - var(--min)) / var(--vp-diff));

  /* Calculate the base offset */
  --base-offset: calc(var(--min) - (var(--vi-multiplier) * var(--min-vp)));

  /* Calculate font sizes in rem */
  --min-font-size: calc(var(--min) / 16 * 1rem);
  --max-font-size: calc(var(--max) / 16 * 1rem);

  @supports (font-size: clamp(1rem, 1vi, 1rem)) {
    font-size: clamp(
      var(--min-font-size),
      calc((var(--vi-multiplier) * 100vi) + (var(--base-offset) / 16 * 1rem)),
      var(--max-font-size)
    );
  }

  @supports not (font-size: clamp(1rem, 1vi, 1rem)) {
    font-size: var(--min-font-size);

    @media screen and (min-width: var(--breakpoint-sm)) {
      font-size: calc((var(--vi-multiplier) * 640 + var(--base-offset)) / 16 * 1rem);
    }

    @media screen and (min-width: var(--breakpoint-md)) {
      font-size: calc((var(--vi-multiplier) * 768 + var(--base-offset)) / 16 * 1rem);
    }

    @media screen and (min-width: var(--breakpoint-lg)) {
      font-size: calc((var(--vi-multiplier) * 1024 + var(--base-offset)) / 16 * 1rem);
    }

    @media screen and (min-width: var(--breakpoint-xl)) {
      font-size: calc((var(--vi-multiplier) * 1280 + var(--base-offset)) / 16 * 1rem);
    }

    @media screen and (min-width: var(--breakpoint-2xl)) {
      font-size: calc((var(--vi-multiplier) * 1440 + var(--base-offset)) / 16 * 1rem);
    }

    @media screen and (min-width: var(--breakpoint-3xl)) {
      font-size: calc((var(--vi-multiplier) * 1520 + var(--base-offset)) / 16 * 1rem);
    }

    @media screen and (min-width: var(--breakpoint-4xl)) {
      font-size: calc((var(--vi-multiplier) * 1680 + var(--base-offset)) / 16 * 1rem);
    }

    @media screen and (min-width: var(--breakpoint-5xl)) {
      font-size: calc((var(--vi-multiplier) * 1920 + var(--base-offset)) / 16 * 1rem);
    }

    @media screen and (min-width: var(--breakpoint-6xl)) {
      font-size: calc((var(--vi-multiplier) * 2240 + var(--base-offset)) / 16 * 1rem);
    }

    @media screen and (min-width: var(--breakpoint-7xl)) {
      font-size: var(--max-font-size);
    }
  }
}
