@import "tailwindcss";

@theme {
  --color-rose: #e8bcd3;
  --color-bourdeaux: #1e0301;
  --color-porcelain: #f7f7f7;
  --color-retro-ochre: #b39567;
  --color-gold: #9d7d4c;
  --color-peach: #fce7e4;
  --color-hot-coral: #f04e37;
  --color-text-default-black: #1e0301;
  --color-cyan: #00afad;

  --font-serif: "PP Editorial New", serif;
  --font-sans: "Helvetica", sans-serif;

  --breakpoint-desktop: 1512px;

  --container-desktop: var(--breakpoint-desktop);
}

:root {
  --retro-ochre: #b39567;
  --porcelain: #f7f7f7;
  --rose: #e8bcd3;
  --bourdeaux: #1e0301;
}

body {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--bourdeaux);
  scroll-behavior: smooth;
  background-color: var(--porcelain);
}

.editorial {
  font-family: "PP Editorial New", serif;
}

.editorial-italic {
  font-family: "PP Editorial New", serif;
  font-style: italic;
}

.helvetica-bold {
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--retro-ochre);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--bourdeaux);
  border-radius: 4px;
}

.test {
}

.swiper-pagination-bullet-active {
  background-color: var(--retro-ochre) !important;
}

.swiper-pagination-horizontal {
  display: flex !important;
}
